<nav class = headbar>
    <div class = "head-div">
        <section class = "sdiv">
            <p> </p>
        </section>
        <section class = "sdiv">
            <img src="../../assets/files/img/logo_UTxShot.png" alt="" [routerLink]="['']" >
        </section>
        <section class = "sdiv">
            <button class="login-btn" [routerLink]="['/connection']"> Connexion </button>
        </section>
    </div>
    <div class = "nav-bar">
        <button [routerLink]="['/lieux']"> Lieux </button>
        <button [routerLink]="['/parties']"> Parties </button>
        <div class = "search">
            <input  class ="searchInput" type="search" placeholder="Search" aria-label="Search">
            <button class ="searchButton"  type="submit"> Q</button>
        </div>
        <button [routerLink]="['/ventes']"> Ventes </button>
        <button [routerLink]="['/wikishot']"> WikiShot </button>
    </div>
</nav>


