

.foot{

    align-self: flex-end;
    z-index: 8;
    height: 8%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    font-style: italic;
    color: var(--darkBlue);

    z-index: 2;

    border-top: solid 1px;
    border-color: var(--darkBlue);

    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    box-shadow: 2px 0px 6px var(--black) ;
}

.sources{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
    font-size: 100%;
}

.reseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
    font-size: 100%;
}
