<div class = "card">
    <div class = "images">
      <img src="../../assets/files/img/81W19bSDF2S._AC_SL1500_.jpg" alt="...">
    </div>
    <p class="titre"> ut x shot bateuse</p>
    <div class = "description">
      <p> Taille :</p>
      <p> Puissance :</p>
      <p> Viseur :</p>
      <p> Capacité chargeur :</p>
    </div>
    <div class = "etat">
      <p> Etat  :</p>
      <p> Customisation :</p>
      <p> Munitions :</p>
    </div>
    <div class = "vendeur">
      <p class = 'prix'> 14,4€ </p>
      <p> note vendeur :</p>
    </div>
</div>
